# Redshift SUPER Workshop 
---

### Overview of the Workshop
All labs in this workshop use Jupyter notebooks running on Amazon SageMaker Notebook Instances. Please go through the SUPER + PartiQL Intro slides to get an overview about semistructured data support in Redshift. In this workshop we will go over the following: 
1. **Review the schema and dataset used in this workshop** 
2. **Ways to create tables using SUPER**
3. **Different ways of loading data into SUPER**  
4. **Navigating SUPER using PartiQL including unnest,flatten, index/dot/bracktet dotation based access**
5. **Dynamic Typing**
6. **Materialized View based query speedup**
7. **Useful functions**
8. **Useful GUCs**

### Lab Components
    
* __Jupyter Notebook__:  
You are currently in a Jupyter notebook. This is an exploratory environment where you can un many different types of code, see the results, and interact them. Each of the labs in this workshop is a single notebook.

* __Amazon SageMaker Notebook Instance__:  
This notebook is running in an Amazon SageMaker notebook instance. This is a fully managed Amazon EC2 instance that has a preconfigured Jupyter notebook server and a set of `conda` libraries. All necessary dependencies for the labs in this workshop are already present. 

* __`conda` Python Kernel__:  
Kernels are processes that receive and execute interactive code and return output to the user. The notebook frontend communicates with the kernel backend. In these labs we use the `conda_python3` kernel.

[Project Jupyter]: https://jupyter.org/
[SageMaker example notebooks]: https://github.com/awslabs/amazon-sagemaker-examples

### Tips:
 
* Labs progress by running the grey `code` cells _in order_ top to bottom.
* Each cell has a title text to explain what happens when you run it.
* Chrome is recommended but any modern browser should work
* Poor network connectivity may cause minor delays when navigating the notebook.
* When a cell is running you will see the text to the left change to `In [*]:`.
* When a cell's code has finished you will see the text to the left change to `In [19]:`. 
    * The number indicates the order in which the cell was run.
* We're here to help if you get stuck or something doesn't work please let us know.
* **Finally** - You're free to experiment and rerun cells. 
    * Nothing should break if cells are run more than once or out of order or rerun.

## Customize Labs notebooks for your test account

We will install some python libaries needed for this notebook.

-----
**Expected Outputs**: None

In [ ]:
%%bash

pip install psycopg2-binary
pip install sqlalchemy 
pip install simplejson
pip install ipython-sql

## Connect to your Redshift cluster and run a query
You will use the sqlalchemy and ipython-sql Python libraries to manage the Redshift connection.  
This test confirms that you can proceed with the rest of the Labs.
Setup credentials to access the Redshift cluster.
In this step, please replace the `host_name` with your Redshift cluster's `hostname`. 


-----


**Sample Outputs**:
`current_user`	`version`
awsuser	PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.23274

In [ ]:
%reload_ext sql

%sql postgresql+psycopg2://master:Password123@sathsati-super-demo.cf9gs9ha1gkj.us-east-1.redshift.amazonaws.com:5439/dev

In [ ]:
%sql SELECT current_user, version();

# Section 1- schema & dataset review
-----

### Data Set Information: ###
### Modified tpch ###

For this workshop we will be using the familiar *tpch* dataset with modified schema to accomodate nested types. ( https://github.com/apache/impala/tree/95f5fb7548df92e20cd2eb2d67e84447fa224ab1/testdata/workloads/tpch_nested ) 

Here is how the modified schema will look like:

```sql
--customer-orders-lineitem combined together
CREATE TABLE customer
(c_custkey bigint
,c_name string
,c_address string
,c_nationkey smallint
,c_phone string
,c_acctbal double
,c_mktsegment string
,c_comment string
,c_orders ARRAY < STRUCT < o_orderkey:bigint
                           ,o_orderstatus:string
                           ,o_totalprice:double
                           ,o_orderdate:string
                           ,o_orderpriority:string
                           ,o_clerk:string
                           ,o_shippriority:int
                           ,o_comment:string
                           ,o_lineitems:ARRAY < STRUCT < l_partkey:bigint
                                                         ,l_suppkey:bigint
                                                         ,l_linenumber:int
                                                         ,l_quantity:double
                                                         ,l_extendedprice:double
                                                         ,l_discount:double
                                                         ,l_tax:double
                                                         ,l_returnflag:string
                                                         ,l_linestatus:string
                                                         ,l_shipdate:string
                                                         ,l_commitdate:string
                                                         ,l_receiptdate:string
                                                         ,l_shipinstruct:string
                                                         ,l_shipmode:string
                                                         ,l_comment:string
                                                         >>
                            >>
)
 ```


```sql
--region-nations
CREATE TABLE region
(
 r_regionkey smallint
 ,r_name string
 ,r_comment string
 ,r_nations ARRAY < STRUCT < n_nationkey:int,n_name:string,n_comment:string >>
)
```

```sql
--supplier-partsupp
CREATE TABLE supplier
(
 s_suppkey bigint
 ,s_name string
 ,s_address string
 ,s_nationkey smallint
 ,s_phone string
 ,s_acctbal double
 ,s_comment string
 ,s_partsupps ARRAY <STRUCT < ps_partkey:bigint,ps_availqty:int,ps_supplycost:double,ps_comment:string >>
)
```

```sql
--part
CREATE TABLE part
(
 p_partkey bigint
 ,p_name string
 ,p_mfgr string
 ,p_brand string
 ,p_type string
 ,p_size int
 ,p_container string
 ,p_retailprice decimal(12,2)
 ,p_comment string
 )
```

# Section 1 - Sample Dataset 
---
Lets look into how the sample data set (single row) will look for all the above tables.

--region-nations
```json
{
   "r_regionkey":0,
   "r_comment":"lar deposits. blithely final packages cajole. regular waters are final requests. ",
   "r_name":"AFRICA",
   "r_nations":[
      {
         "n_comment":" haggle. carefully final deposits detect slyly agai",
         "n_nationkey":11,
         "n_name":"ALGERIA"
      },
      {
         "n_comment":"ven packages wake quickly. regu",
         "n_nationkey":5,
         "n_name":"ETHIOPIA"
      }
   ]
}
```

--supplier-partsupp
```json
{
   "s_comment":"ggle blithely. quickly ironic packages wak",
   "s_partsupps":[
      {
         "ps_availqty":4101,
         "ps_comment":" foxes cajole. quickly silent packages boost along the regular accounts",
         "ps_partkey":88613,
         "ps_supplycost":981.17
      },
      {
         "ps_availqty":7353,
         "ps_comment":". careful theodolites wake finally. blithely regular sentiments ",
         "ps_partkey":91119,
         "ps_supplycost":207.47
      } ],
   "s_phone":"21-795-823-6659",
   "s_nationkey":11,
   "s_name":"Supplier#000006138",
   "s_address":"y6un5si3ymHurd8n2mGZ0w3",
   "s_acctbal":5453.29,
   "s_suppkey":6138
}
```
--customer-orders-lineitem
```json
{
   "c_custkey":9451,
   "c_phone":"24-930-452-1858",
   "c_acctbal":6511.24,
   "c_orders":[
      {
         "o_orderstatus":"O",
         "o_clerk":"Clerk#000000831",
         "o_lineitems":[
            {
               "l_returnflag":"N",
               "l_receiptdate":"1997-06-16",
               "l_tax":0.01,
               "l_shipmode":"MAIL",
               "l_suppkey":8105,
               "l_shipdate":"1997-05-30",
               "l_commitdate":"1997-03-25",
               "l_partkey":75597,
               "l_quantity":36,
               "l_linestatus":"O",
               "l_comment":"ts. evenly regular account",
               "l_extendedprice":56613.24,
               "l_linenumber":1,
               "l_discount":0.02,
               "l_shipinstruct":"TAKE BACK RETURN"
            },
            {
               "l_returnflag":"N",
               "l_receiptdate":"1997-06-24",
               "l_tax":0.01,
               "l_shipmode":"RAIL",
               "l_suppkey":5024,
               "l_shipdate":"1997-06-01",
               "l_commitdate":"1997-03-15",
               "l_partkey":147481,
               "l_quantity":18,
               "l_linestatus":"O",
               "l_comment":"atelets nag always blithely unus",
               "l_extendedprice":27512.64,
               "l_linenumber":2,
               "l_discount":0.1,
               "l_shipinstruct":"COLLECT COD"
            }
         ],
         "o_orderdate":"1997-02-10",
         "o_shippriority":0,
         "o_totalprice":81044.75,
         "o_orderkey":753542,
         "o_comment":"riously final pinto beans. slyly regular ideas use carefully across t",
         "o_orderpriority":"1-URGENT"
      } ],
   "c_mktsegment":"BUILDING",
   "c_address":"O8CtbjtQgdw0v60",
   "c_nationkey":14,
   "c_name":"Customer#000009451",
   "c_comment":"sly bold theodolites sleep quickly slyly final deposits. ironic instructions ha"
}
```

# Section 2 - Ways to create tables with SUPER 
-----
**Approach 1** : create as a single super column when you dont know the schema ahead and want to explore  
**Approach 2** : create a table with mix of scalar and SUPER columns if you know the schema ahead. Keep the scalar values as scalar columns and store the hierarchical/nested values in SUPER.

In [ ]:
%%sql
/* Approach 1 */
DROP TABLE IF EXISTS region_nations_noshred;
CREATE TABLE region_nations_noshred(cdata super);

In [ ]:
%%sql
/* Approach 2 
Recommended for performance and most widely used use case */

/* region_nation */
DROP TABLE IF EXISTS region_nations;
CREATE TABLE region_nations(
  r_regionkey SMALLINT
  ,r_name VARCHAR
  ,r_comment VARCHAR
  ,r_nations super
  );

/* For Parquet/ORC load example */
DROP TABLE IF EXISTS region_nations2;
CREATE TABLE region_nations2(
    r_regionkey SMALLINT
    ,r_name VARCHAR
    ,r_comment VARCHAR
    ,r_nations super
    );
    
/* supplier-partsupp */
DROP TABLE IF EXISTS supplier_partsupp;
CREATE TABLE supplier_partsupp(
 s_suppkey bigint
 ,s_name varchar
 ,s_address varchar
 ,s_nationkey smallint
 ,s_phone varchar
 ,s_acctbal double precision
 ,s_comment varchar
 ,s_partsupps super
 );

/* customer_orders_lineitem */
DROP TABLE IF EXISTS customer_orders_lineitem;
CREATE TABLE customer_orders_lineitem
(c_custkey bigint
,c_name varchar
,c_address varchar
,c_nationkey smallint
,c_phone varchar
,c_acctbal decimal(12,2)
,c_mktsegment varchar
,c_comment varchar
,c_orders super
);

/* part ( doesn't have any super columns) */
DROP TABLE IF EXISTS part;         
CREATE TABLE part(
 p_partkey bigint
 ,p_name varchar
 ,p_mfgr varchar
 ,p_brand varchar
 ,p_type varchar
 ,p_size int
 ,p_container varchar
 ,p_retailprice decimal(12,2)
 ,p_comment varchar
 );

In [ ]:
%%sql
SELECT tablename,"column",type from pg_table_def where schemaname='public';

# Section 3 - Loading/Ingesting into SUPER 
-----
Multiple ways to load into *SUPER* column:
1. **COPY**    
    a. *JSON* with noshred  - use for single super column tables   
    b. *JSON* with auto   - use for mix of scalar and super columns   
    c. *JSON* with JSONPATH   - use with a jsonpaths file (https://github.com/json-path/JsonPath)  
    d. *PARQUET* with SERIALIZETOJSON  - if your hierarchical/nested values are already in Parquet    
    e. *ORC* with SERIALIZETOJSON - use if your hierarchical/nested values are already in ORC
2. **INSERT**    
    a. INSERT INTO SELECT FROM SPECTRUM TABLES - use if you want to use Spectrum to load    
    b. traditional INSERT INTO SELECT VALUES

In [ ]:
%%sql
/* -- 1a. Single super column <replace IAM role with yours> -- */
COPY region_nations_noshred FROM 's3://redshift-downloads/semistructured/tpch-nested/data/json/region_nation' REGION 'us-east-1' IAM_ROLE 'arn:aws:iam::467896856988:role/Redshift-S3' FORMAT JSON 'noshred';

In [ ]:
%%sql
/* -- 1b. Mixed scalar and super columns <replace IAM role with yours> -- */

/* region-nations*/
COPY region_nations FROM 's3://redshift-downloads/semistructured/tpch-nested/data/json/region_nation' REGION 'us-east-1' IAM_ROLE 'arn:aws:iam::467896856988:role/Redshift-S3' FORMAT JSON 'auto';

In [ ]:
%%sql
/* supplier-partsupp */
COPY supplier_partsupp FROM 's3://redshift-downloads/semistructured/tpch-nested/data/json/supplier_partsupp' REGION 'us-east-1' IAM_ROLE 'arn:aws:iam::467896856988:role/Redshift-S3' FORMAT JSON 'auto';

In [ ]:
%%sql
/* part */
COPY part FROM 's3://redshift-downloads/semistructured/tpch-nested/data/json/part' REGION 'us-east-1' IAM_ROLE 'arn:aws:iam::467896856988:role/Redshift-S3' FORMAT JSON 'auto';

In [ ]:
%%sql
/* customer-orders-lineitem */
COPY customer_orders_lineitem FROM 's3://redshift-downloads/semistructured/tpch-nested/data/json/customer_orders_lineitem' REGION 'us-east-1' IAM_ROLE 'arn:aws:iam::467896856988:role/Redshift-S3' FORMAT JSON 'auto';

In [ ]:
%%sql
/* -- 1c. Load using jsonpaths example  -- */
COPY region_nations2 FROM 's3://redshift-downloads/semistructured/tpch-nested/data/json/region_nation' REGION 'us-east-1' IAM_ROLE 'arn:aws:iam::467896856988:role/Redshift-S3' FORMAT JSON 's3://redshift-downloads/semistructured/tpch-nested/data/jsonpaths/nations_jsonpaths.json';

In [ ]:
%%sql
/* -- 1d. Load from columnar formats (Parquet) example  -- */
COPY region_nations2 FROM 's3://redshift-downloads/semistructured/tpch-nested/data/parquet/region_nation'  IAM_ROLE 'arn:aws:iam::467896856988:role/Redshift-S3' FORMAT PARQUET SERIALIZETOJSON;

In [ ]:
%%sql
/* -- 1e. Load from columnar formats (ORC) example  -- */
COPY region_nations2 FROM 's3://redshift-downloads/semistructured/tpch-nested/data/orc/region_nation'  IAM_ROLE 'arn:aws:iam::467896856988:role/Redshift-S3' FORMAT ORC SERIALIZETOJSON;

#### Loading from Spectrum 
---
The Spectrum external schema `super_workshop` and the external table `region_nations` is already prebuilt in your account.    
The idea is to show how to load from Spectrum external table with nested column into SUPER.     
We need to set an important session level GUC for this to work - `SET json_serialization_enable TO true;` which is documented here https://docs.aws.amazon.com/redshift/latest/dg/serializing-complex-JSON.html 

```sql
CREATE EXTERNAL SCHEMA super_workshop FROM DATA CATALOG
DATABASE 'super_workshop'
IAM_ROLE 'arn:aws:iam::467896856988:role/Redshift-S3'
CREATE EXTERNAL DATABASE IF NOT EXISTS;

CREATE EXTERNAL TABLE super_workshop.region_nations(
  r_regionkey smallint, 
  r_name varchar, 
  r_comment varchar, 
  r_nations array<struct<n_nationkey:smallint,n_name:varchar,n_comment:varchar>>)
STORED AS PARQUET 
LOCATION 's3://redshift-downloads/semistructured/tpch-nested/data/parquet/region_nation';
```

In [ ]:
%%sql

/* -- Set the GUC for JSON serialization  -- */
SET json_serialization_enable TO true;

INSERT INTO region_nations2 SELECT r_regionkey,r_name,r_comment,JSON_PARSE(r_nations) FROM super_workshop.region_nations;

### Tip ###   
---
If you want to load `r_nations` (which is an array in region_nations) as a separate Redshift table and use one of the super column as dist key / sort key , then here is a way to do it:

In [ ]:
%%sql
SET json_serialization_enable TO true;
DROP TABLE IF EXISTS nations;
CREATE TABLE nations ( n_nationkey int, n_nations super) distkey(n_nationkey);

INSERT INTO nations SELECT element.n_nationkey::integer, supercol FROM (SELECT json_parse(r_nations) AS supercol FROM super_workshop.region_nations) AS tbl, tbl.supercol element;

#### Traditional Insert
---
We can also use the traditional insert in conjunction with `JSON_PARSE()` function to load into `super` columns. The function parses data in JSON format and converts it into the SUPER data type, which you can use in INSERT or UPDATE statements.

If the `JSON_PARSE` function is missing in the query, Amazon Redshift treats the value as a single string instead of a JSON-formatted string that must be parsed.

In [ ]:
%%sql

INSERT INTO region_nations2 VALUES(0,
   'lar deposits.',
   'AFRICA',
   JSON_PARSE('{{"r_nations":[
      {{"n_comment":" haggle.",
         "n_nationkey": 0,
         "n_name":"ALGERIA"
      }},
      {{"n_comment":"ven packages",
         "n_nationkey": 5,
         "n_name":"ETHIOPIA"
      }},
      {{"n_comment":" pending excuses ",
         "n_nationkey": 14,
         "n_name":"KENYA"
      }},
      {{"n_comment":"rns. blithely bold ",
         "n_nationkey": 15,
         "n_name":"MOROCCO"
      }},
      {{"n_comment":"s. ironic",
         "n_nationkey": 16,
         "n_name":"MOZAMBIQUE"
      }}
   ]
}}'));
COMMIT;

### Alternative to JSON_EXTRACT functions ###
---

If your customer usecase uses lot of `json_extract_*` functions, then they can be a good fit for SUPER. Lets see how we can use `SUPER+PartiQL` in place of `json_extract*` functions.

In [ ]:
%%sql

/* create region_nations with no super column */
DROP TABLE IF EXISTS region_nations_scalar;
CREATE TABLE region_nations_scalar(
  r_regionkey SMALLINT
  ,r_name VARCHAR
  ,r_comment VARCHAR
  ,r_nations VARCHAR(max)
  );

COPY region_nations_scalar FROM 's3://redshift-downloads/semistructured/tpch-nested/data/json/region_nation' REGION 'us-east-1' IAM_ROLE 'arn:aws:iam::467896856988:role/Redshift-S3' FORMAT JSON 'auto';


SELECT json_extract_path_text(json_extract_array_element_text(r_nations,0),'n_nationkey') , r_nations FROM region_nations_scalar LIMIT 1;

In [ ]:
%%sql

/* the same above query with json_extract functions can be rewritten as below */
SELECT r_nations[0].n_nationkey, r_nations FROM region_nations LIMIT 1;

#### Tip ####
---
If your use case has more than 65k, then it can also ingested using SUPER using `INSERT` + `JSON_PARSE()`. Workaround solution to ingest more than 65k data is to store in SUPER. Your data should be properly formatted JSON. Or if your Parquet/ORC nested column has more than 65k it can be ingested into SUPER.

# Section 4 - Navigation & Unnesting #
-----

Lets look at the ways to navigate super columns using SQL + PartiQL

In [ ]:
%%sql
/* select * from table */
SELECT * FROM region_nations;

In [ ]:
%%sql
/* array index/bracket based access */
SELECT r_nations[0] FROM region_nations;

In [ ]:
%%sql
/* dot notation based access */
SELECT r_nations[0].n_nationkey FROM region_nations;

In [ ]:
%%sql 
/* using table alias */
SELECT r.r_nations[0].n_nationkey FROM region_nations r;

In [ ]:
%%sql
/* in where clause below and super can be used in filtering, join, and aggregation*/
SELECT count(*) 
FROM region_nations 
WHERE r_nations[0].n_nationkey IS NOT NULL;

In [ ]:
%%sql
/* in GROUP BY and ORDER BY */
SELECT r_nations[0].n_name,
       r_nations[0].n_comment,
       count(*)
FROM region_nations
WHERE r_nations[0].n_nationkey IS NOT NULL
GROUP BY r_nations[0].n_name,
         r_nations[0].n_comment
ORDER BY r_nations[0].n_name;

In [ ]:
%%sql

/* Unnest */
/* alias c is for base table customer_order_lineitem
and alias o is the iteration over the c.c_orders array */
SELECT c.c_custkey,
       c.c_name, 
       o.o_orderkey,
       o.o_totalprice 
FROM customer_orders_lineitem c, 
     c.c_orders o;

In [ ]:
%%sql

/* Unnest two levels */
/* to unnest multiple levels , we need to add more more alias, 
l is for o.o_lineitems which is an array within an array */

SELECT c.c_custkey,
       c.c_name, 
       o.o_orderkey,
       o.o_totalprice, 
       l.l_partkey,
       l.l_quantity,
       l.l_linenumber 
FROM customer_orders_lineitem c, 
     c.c_orders o, 
     o.o_lineitems l;

In [ ]:
%%sql

/* Redshift SUPER supports array index when iterating over the array using the AT keyword*/

SELECT c_name,
       orders.o_orderkey AS orderkey,
       index AS orderkey_index
FROM customer_orders_lineitem c, c.c_orders AS orders AT index 
ORDER BY orderkey_index;

#### Tip ####
---
max of 65k attributes in a doc are supported as long as it fits into 1MB block . If you have more than 1600 sparsely populated columns , then you can SUPER or multiple SUPER columns to ingest.

# Section 5 - Dynamic Typing # 
-----
Dynamic typing doesn't require explicit casting of data that is extracted from the dot and bracket paths.        
Amazon Redshift uses dynamic typing to process schemaless SUPER data without the need to declare the data types before you use them in your query.     
Dynamic typing is most useful in joins and GROUP BY clauses.

In [ ]:
%%sql
/* -- Here n_nationkey is of super type and interpreted as numeric 
when the predicate is 11 . Any other values including other data types 
like string will be treated as FALSE here -- */

SELECT r_nations[0].n_name
FROM region_nations
WHERE r_nations[0].n_nationkey = 11;

In [ ]:
%%sql
/* Similarly here, n_nationkey is of super type anything less than 11 will be
treated as FALSE and NULL */

SELECT r_nations[0].n_name
FROM region_nations
WHERE r_nations[0].n_nationkey <= 11;

In [ ]:
%%sql
/* to demonstrate dynamic typing, we will insert a string value into n_nationkey 
and see how the query behaves */
INSERT INTO region_nations 
VALUES( 5, 
       'new comment', 
       'APAC', 
       JSON_PARSE('{"r_nations":[{"n_comment":"new nation comment", "n_nationkey":"USAKEY", "n_name":"USA"}]}'));
COMMIT;

In [ ]:
%%sql
/* dynamic typing works and ignores all non matching values */
SELECT r_nations[0].n_name
FROM region_nations
WHERE r_nations[0].n_nationkey <= 11;

####  Dynamic typing in joins 
---
For joins, dynamic typing automatically matches values with different dynamic types without performing a long `CASE WHEN` analysis to find out what data types may appear.

In [ ]:
%%sql

SELECT c.c_name
    ,l.l_extendedprice
    ,l.l_discount
FROM customer_orders_lineitem c
    ,c.c_orders o
    ,o.o_lineitems l
    ,supplier_partsupp s
    ,s.s_partsupps ps
WHERE l.l_partkey = ps.ps_partkey
ORDER BY c.c_name;

Without dynamic typing, the rewritten query will look like below writing CASE statements to check all for all datatypes.    

```sql
SELECT c.c_name
    ,l.l_extendedprice
    ,l.l_discount
FROM customer_orders_lineitem c
    ,c.c_orders o
    ,o.o_lineitems l
    ,supplier_partsupp s
    ,s.s_partsupps ps
WHERE CASE WHEN IS_INTEGER(l.l_partkey) AND IS_INTEGER(ps.ps_partkey)
           THEN l.l_partkey::integer = ps.ps_partkey::integer
           WHEN IS_VARCHAR(l.l_partkey) AND IS_VARCHAR(ps.ps_partkey)
           THEN l.l_partkey::varchar = ps.ps_partkey::varchar
           WHEN IS_ARRAY(l.l_partkey) AND IS_ARRAY(ps.ps_partkey)
                AND IS_VARCHAR(l.l_partkey[0]) AND IS_VARCHAR(ps.ps_partkey[0])
                AND IS_INTEGER(l.l_partkey[1]) AND IS_INTEGER(ps.ps_partkey[1])
           THEN l.l_partkey[0]::varchar = ps.ps_partkey[0]::varchar
                AND l.l_partkey[1]::integer = ps.ps_partkey[1]::integer
           ELSE FALSE END
ORDER BY c.c_name;
```

In [ ]:
%%sql
--TODO - Add left outer join example

#### Lax Semantics 
---
By default, navigation operations on SUPER values return `null` instead of returning an error out when the navigation is invalid.

In [ ]:
%%sql
/* attribute doesn't exist */
SELECT c.c_orders.something FROM customer_orders_lineitem c;

In [ ]:
%%sql
/* array out of bounds */
SELECT c.c_orders[1][1] FROM customer_orders_lineitem c;

In [ ]:
%%sql
/* incompatible cast */
SELECT c.c_orders.o_orderstatus::integer FROM customer_orders_lineitem c;

#### Tip ####
---
If your json document is more than 1MB , it is possible to ingest them using a mix of `scalar` and `super` or multiple `super` columns to workaround the 1MB limitation.

# Section 6 -  Materialized View based speed up #
-----
Use MVs to speed up SUPER navigation/unnest PartiQL queries

Below two queries access the super type through unnesting. Materialized views can be used to materialize the super type values into data types with columnar encodings which can speed up query processing . 

If you frequently access super types through navigation and unnesting consider using MVs

In [ ]:
%%sql
/* o.orderstatus is a super data type */
SELECT c.c_name, o.o_orderstatus
FROM customer_orders_lineitem c, c.c_orders o
WHERE o.o_orderstatus = 'F';

In [ ]:
%%sql
/*  c.c_orders[0].o_totalprice is a super data type */
SELECT c.c_name, c.c_orders[0].o_totalprice
FROM customer_orders_lineitem c;

#### MV definition ####
---

Below is a MV definition using which above queries can be answered

In [ ]:
%%sql

/* c_custkey is used as the distkey and sortkey to enable join optimizations when joined with base table
 in this MV, o_orderstatus and  o_totalprice are still super columns */ 

CREATE MATERIALIZED VIEW super_mv distkey(c_custkey) sortkey(c_custkey) AS (
  SELECT c_custkey, o.o_orderstatus, o.o_totalprice, o_idx
  FROM customer_orders_lineitem c, c.c_orders o AT o_idx
);

In [ ]:
%%sql

/* in this MV, while the definition is same as above, o.o_orderstatus and o.o_totalprice are stored as 
   scalar data types because of the explicit casts
   in this way, we can use those columns in distkey and sortkey if required */

CREATE MATERIALIZED VIEW super_mv_1 distkey(c_custkey) sortkey(c_custkey, o_orderstatus) AS (
  SELECT c_custkey, o.o_orderstatus::VARCHAR AS o_orderstatus, o.o_totalprice::decimal(12,2), o_idx
  FROM customer_orders_lineitem c, c.c_orders o AT o_idx
);

In [ ]:
%%sql

/* rewrite of the first query using MV joined with basetable to get c_name */
  SELECT c.c_name, v.o_orderstatus
  FROM customer_orders_lineitem c 
  JOIN super_mv_1 v ON c.c_custkey = v.c_custkey
  WHERE v.o_orderstatus = 'F';

In [ ]:
%%sql

/* rewrite of the second query using MV */

SELECT c.c_name, v.o_totalprice
FROM customer_orders_lineitem c 
JOIN super_mv_1 v ON c.c_custkey = v.c_custkey
WHERE v.o_idx = 0;

#### Tip ####
---
SUPER columns can be Unloaded to text/CSV format

# Section 7 - Useful  functions 
-----

In this section we will look into some useful functions that can be used with SUPER

the functions include
1. `ARRAY`. - to create an array on the fly     
2. `ARRAY_CONCAT` - as the name suggests concat multiple arrays into one      
3. `SUBARRAY` - similar to substring , extract a portion of an array     
4. `SPLIT_TO_ARRAY` - split a string into array
5. `ARRAY_FLATTEN`  - flatten nested arrays into one base array
6. `GET_ARRAY_LENGTH` - get length of array

In [ ]:
%%sql
--create ARRAY out of scalars
SELECT ARRAY(1, 8401, NULL, 'Customer#000008401', 'abc');

In [ ]:
%%sql
--create ARRAY within ARRAY
SELECT ARRAY(1, ARRAY(2, ARRAY(3, ARRAY())));

In [ ]:
%%sql
--ARRAY CONCAT - multiple arrays 
SELECT ARRAY_CONCAT(JSON_PARSE('["apple","orange"]'),JSON_PARSE('["pear","grapes"]'));

In [ ]:
%%sql
--subarray - similar to substring
SELECT SUBARRAY(ARRAY('a', 'b', 'c', 'd', 'e', 'f'), 2, 3);

In [ ]:
%%sql
--split a string into array
SELECT SPLIT_TO_ARRAY('One|Flew|Over|the|Cuckoo\'s|Nest', '|');

In [ ]:
%%sql
-- merge and flatten arrays
SELECT x, ARRAY_FLATTEN(x) FROM (SELECT ARRAY(1, ARRAY(2, ARRAY(3, ARRAY()))) AS x);

In [ ]:
%%sql
--get length of array
SELECT GET_ARRAY_LENGTH(ARRAY(1, 8401, NULL, 'Customer#000008401', 'abc'));

# Section 8 - Useful GUCs #
-----

In this section we will cover , useful GUCs ( session level config parameters in Redshift ) that are used in Redshift SUPER

Lax and strict modes for `SUPER` , default is lax mode meaning , if you try to access non-existent member of an object or element of an array then `NULL` is returned instead of error

```sql
SET navigate_super_null_on_error=ON;  --default lax mode for navigation

SET cast_super_null_on_error=ON;  --default lax mode for casting

SET parse_super_null_on_error=OFF;  --default strict mode for ingestion
```

Accessing JSON fields with upper or mixed case field names or attributes. When your JSON fields are in upper cases or mixed cases, then you must configure the following setting to query data.

```sql
SET downcase_delimited_identifier to FALSE;
```

In [ ]:
%%sql

SELECT json_table.data."ITEMS"."Name",
       json_table.data."price"
FROM
  (SELECT json_parse('{{"ITEMS":{{"Name":"TV"}}, "price": 345}}') AS data) AS json_table;

In [ ]:
%%sql

SET downcase_delimited_identifier to FALSE;

SELECT json_table.data."ITEMS"."Name",
       json_table.data."price"
FROM
  (SELECT json_parse('{{"ITEMS":{{"Name":"TV"}}, "price": 345}}') AS data) AS json_table;

# Some TPCH queries ( scalar and super versions ) 
-----

We will look into some of the TPCH queries in both scalar and super versions. Please feel free to run it after the workshop.

##### TPCH query 1 - scalar version 
---

```sql
/* TPC_H  Query 1 - Pricing Summary Report */


 SELECT L_RETURNFLAG,
 L_LINESTATUS,
 SUM(L_QUANTITY)     AS SUM_QTY,
 SUM(L_EXTENDEDPRICE)    AS SUM_BASE_PRICE,
 SUM(L_EXTENDEDPRICE*(1-L_DISCOUNT))  AS SUM_DISC_PRICE,
 SUM(L_EXTENDEDPRICE*(1-L_DISCOUNT)*(1+L_TAX)) AS SUM_CHARGE,
 AVG(L_QUANTITY)     AS AVG_QTY,
 AVG(L_EXTENDEDPRICE)    AS AVG_PRICE,
 AVG(L_DISCOUNT)     AS AVG_DISC,
 COUNT(*)     AS COUNT_ORDER
FROM tpch1G.LINEITEM 
WHERE L_SHIPDATE <=  date '1998-09-02' 
GROUP BY L_RETURNFLAG,
  L_LINESTATUS
ORDER BY L_RETURNFLAG,
  L_LINESTATUS
;
 ```

In [ ]:
%%sql

/* TPC_H  Query 1 SUPER - Pricing Summary Report */
SELECT l.l_returnflag
    ,l.l_linestatus
    ,sum(l.l_quantity::decimal(12,2)) AS sum_qty
    ,sum(l.l_extendedprice::decimal(12,2)) AS sum_base_price
    ,sum(cast(l.l_extendedprice* (1 - l.l_discount) as decimal(24,4)))  AS sum_disc_price
    ,sum(cast(l.l_extendedprice* (1 - l.l_discount) * (1 + l.l_tax)as decimal(36,6)) ) AS sum_charge
    ,avg(l.l_quantity::decimal(12,2)) AS avg_qty
    ,avg(l.l_extendedprice::decimal(12,2)) AS avg_price
    ,avg(l.l_discount::decimal(12,2)) AS avg_disc
    ,count(*) AS count_order
FROM customer_orders_lineitem c
     ,c.c_orders o
     ,o.o_lineitems l
WHERE l.l_shipdate::date <= date '1998-09-02'
GROUP BY l.l_returnflag
         ,l.l_linestatus
ORDER BY l.l_returnflag
    ,l.l_linestatus;

##### TPCH query 3 - scalar version 
---

```sql
/* TPC_H  Query 3 - Shipping Priority */

SELECT  TOP 10
  L_ORDERKEY,
  SUM(L_EXTENDEDPRICE*(1-L_DISCOUNT)) AS REVENUE,
  O_ORDERDATE,
  O_SHIPPRIORITY
FROM  tpch1G.CUSTOMER,
   tpch1G.ORDERS,
  tpch1G.LINEITEM 
WHERE C_MKTSEGMENT  = 'BUILDING' AND
  C_CUSTKEY = O_CUSTKEY AND
  L_ORDERKEY  = O_ORDERKEY AND
  O_ORDERDATE < '1995-03-15' AND
  L_SHIPDATE  > '1995-03-15'
GROUP BY  L_ORDERKEY,
    O_ORDERDATE,
    O_SHIPPRIORITY
ORDER BY  REVENUE DESC,
    O_ORDERDATE 
;
```

In [ ]:
%%sql
/* TPC_H  Query 3 SUPER - Shipping Priority */

SELECT o.o_orderkey
    ,sum(cast(l.l_extendedprice* (1 - l.l_discount) as decimal(24,4))) AS revenue
    ,o.o_orderdate
    ,o.o_shippriority
FROM customer_orders_lineitem c
    ,c.c_orders o
    ,o.o_lineitems l
WHERE c.c_mktsegment = 'BUILDING'
    AND o.o_orderdate::date < '1995-03-15'
    AND l.l_shipdate::date > '1995-03-15'
GROUP BY o.o_orderkey
    ,o.o_orderdate
    ,o.o_shippriority
ORDER BY revenue DESC
    ,o.o_orderdate LIMIT 10;

##### TPCH query 5 - scalar version 
---

```sql
/* TPC_H  Query 5 - Local tpch1G.SUPPLIER Volume */

SELECT  N_NAME,
  SUM(L_EXTENDEDPRICE*(1-L_DISCOUNT)) AS REVENUE
FROM  tpch1G.CUSTOMER,
   tpch1G.ORDERS,
  tpch1G.LINEITEM ,
   tpch1G.SUPPLIER,
  tpch1G.NATION,
  tpch1G.REGION
WHERE C_CUSTKEY = O_CUSTKEY AND
  L_ORDERKEY  = O_ORDERKEY AND
  L_SUPPKEY = S_SUPPKEY AND
  C_NATIONKEY = S_NATIONKEY AND
  S_NATIONKEY = N_NATIONKEY AND
  N_REGIONKEY = R_REGIONKEY AND
  R_NAME    = 'ASIA' AND
        o_orderdate >= date '1994-01-01' and 
     o_orderdate <  date '1995-01-01'
GROUP BY  N_NAME
ORDER BY  REVENUE DESC;
```

In [ ]:
%%sql

/* TPC_H  Query 5 SUPER - Local SUPPLIER Volume */
SELECT n.n_name
    ,sum(cast(l.l_extendedprice* (1 - l.l_discount) as decimal(24,4))) AS revenue
FROM customer_orders_lineitem c
    ,c.c_orders o
    ,o.o_lineitems l
    ,supplier_partsupp s
    ,region_nations r
    ,r.r_nations n
WHERE l.l_suppkey = s.s_suppkey
    AND c.c_nationkey = s.s_nationkey
    AND s.s_nationkey = n.n_nationkey
    AND r.r_name = 'ASIA'
    AND o.o_orderdate::date >= '1994-01-01'
    AND o.o_orderdate::date < '1995-01-01'
GROUP BY n.n_name
ORDER BY revenue DESC;

##### TPCH query 6 - scalar version
---

```sql
/* TPC_H  Query 6 - Forecasting Revenue Change */

SELECT  SUM(L_EXTENDEDPRICE*L_DISCOUNT) AS REVENUE
FROM  tpch1G.LINEITEM 
WHERE L_SHIPDATE  >= '1994-01-01' AND
  L_SHIPDATE  < date '1995-01-01'   AND
  L_DISCOUNT  BETWEEN 0.05 AND 0.07 AND
  L_QUANTITY  < 24
;
```

In [ ]:
%%sql

/* TPC_H  Query 6 SUPER - Forecasting Revenue Change */

SELECT sum(cast(l.l_extendedprice* l.l_discount as decimal(24,4))) AS revenue
FROM customer_orders_lineitem c
    ,c.c_orders o
    ,o.o_lineitems l
WHERE l.l_shipdate::date >= '1994-01-01'
    AND l.l_shipdate::date < '1995-01-01'
    AND l.l_discount BETWEEN 0.05
        AND 0.07
    AND l.l_quantity < 24;

##### TPCH query 10 - scalar version 
---

```sql

/* TPC_H  Query 10 - Returned Item Reporting */


SELECT  TOP 20
  C_CUSTKEY,
  C_NAME,
  SUM(L_EXTENDEDPRICE*(1-L_DISCOUNT)) AS REVENUE,
  C_ACCTBAL,
  N_NAME,
  C_ADDRESS,
  C_PHONE,
  C_COMMENT
FROM  tpch1G.CUSTOMER,
   tpch1G.ORDERS,
  tpch1G.LINEITEM ,
  tpch1G.NATION
WHERE C_CUSTKEY = O_CUSTKEY   AND
  L_ORDERKEY  = O_ORDERKEY    AND
  O_ORDERDATE >= '1993-10-01'     AND
  O_ORDERDATE < '1994-01-01'  AND
  L_RETURNFLAG  = 'R'     AND
  C_NATIONKEY = N_NATIONKEY
GROUP BY  C_CUSTKEY,
    C_NAME,
    C_ACCTBAL,
    C_PHONE,
    N_NAME,
    C_ADDRESS,
    C_COMMENT
ORDER BY  REVENUE DESC 
;
```

In [ ]:
%%sql

/* TPC_H  Query 10 SUPER - Returned Item Reporting */
SELECT c.c_custkey
    ,c.c_name 
    ,sum(cast(l.l_extendedprice* (1 - l.l_discount) as decimal(24,4))) AS revenue
    ,c.c_acctbal
    ,n.n_name
    ,c.c_address
    ,c.c_phone
    ,c.c_comment
FROM customer_orders_lineitem c
    ,c.c_orders o
    ,o.o_lineitems l
    ,region_nations r
    ,r.r_nations n
WHERE o.o_orderdate::date >= date '1993-10-01'
    AND o.o_orderdate::date < date '1994-01-01'
    AND l.l_returnflag::varchar = 'R' -- need to cast because it is a super column 
    AND c.c_nationkey = n.n_nationkey
GROUP BY c.c_custkey
    ,c.c_name
    ,c.c_acctbal
    ,c.c_phone
    ,n.n_name
    ,c.c_address
    ,c.c_comment
ORDER BY revenue DESC LIMIT 20;